import firebase from "firebase/app"; 
import "firebase/firestore";

/* for firebase version 9 or higher use "firebase/compat/app" and "firebase/compat/firestore" */

const firebaseConfig = firebase.initializeApp({
  apiKey: "",
  authDomain: "",
  databaseURL: "",
  projectId: "",
  storageBucket: "",
  messagingSenderId: "",
  appId: "",
});

export { firebaseConfig as firebase };
